weatherapp/Connected Services/WeatherService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Class1.responseCurr">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfClass1.data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class1.responseCurr" nillable="true" type="tns:Class1.responseCurr" />
  <xs:complexType name="ArrayOfClass1.data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class1.data" nillable="true" type="tns:Class1.data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass1.data" nillable="true" type="tns:ArrayOfClass1.data" />
  <xs:complexType name="Class1.data">
    <xs:sequence>
      <xs:element minOccurs="0" name="app_temp" type="xs:double" />
      <xs:element minOccurs="0" name="city_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clouds" type="xs:double" />
      <xs:element minOccurs="0" name="country_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="high_temp" type="xs:double" />
      <xs:element minOccurs="0" name="low_temp" type="xs:double" />
      <xs:element minOccurs="0" name="rh" type="xs:double" />
      <xs:element minOccurs="0" name="sunrise_ts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sunset_ts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timezone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weather" nillable="true" type="tns:Class1.weather" />
      <xs:element minOccurs="0" name="wind_cdir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wind_spd" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class1.data" nillable="true" type="tns:Class1.data" />
  <xs:complexType name="Class1.weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="icon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class1.weather" nillable="true" type="tns:Class1.weather" />
  <xs:complexType name="Class1.responseFore">
    <xs:sequence>
      <xs:element minOccurs="0" name="city_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfClass1.data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class1.responseFore" nillable="true" type="tns:Class1.responseFore" />
</xs:schema>